* {
	margin: 0;
	padding: 0;
}

a {
	padding: 5px 10px;
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#navbar a:link, #navbar a: visited {
	color: white;
}

#navbar a:hover {
	color: #f7b600;
	background: white;
}


body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

h2{
	color: #f7b600;
}

h3{
	color: #565656;
	background: #CCC;
	padding: 5px;
	text-align: center;
}

p {
	padding: 10px;
	text-align: justify;
}

#navbar {
	background-color: #f7b600;
	text-align: center;
	padding: 15px;
}

#area-logo, #area-menu {
	padding: 10px;
}

#area-principal {
	width: 650px;
	margin: 0 auto;
	padding: 15px;
}

#area-postagens {
	width: 500px;
	float: left;
}

#area-lateral {
	width: 240px;
	position: relative;
	left: 700px;
	bottom: 1423px;
}

#rodape {
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
}

.branco {
	color: white;
}

.postagem {
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}

.link {
	color: #f7b600;
}

.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

.texto-lateral {
	font-size: 0.8em;
}